/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #eceffd
- Tints:
#2e45a5#
#fae5d3
#eb984e

- Shades: 
#213276
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.6%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.section-hero {
  background-color: #eceffd;
  padding: 0rem 0 9.9rem 0;
}

.hero {
  max-width: 130rem;
  /* height: 70vh; */
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 9.6rem;
}

.hero-image-box {
  border-radius: 9px;
}

.hero-img {
  width: 100%;
  border-radius: 8.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.05;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  background-color: #2e45a5;
  color: #fff;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #213276;
}

.social-media {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 3.2rem;
}

.social-media-link:link,
.social-media-link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: #2e45a5;
  transition: color 0.3s;
}

.social-media-link:hover,
.social-media-link:active {
  color: #213276;
}

.header {
  margin: 0 auto;
  background-color: #eceffd;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.2rem;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  color: #213276;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  padding-left: 33.2rem;
}

.nav-list {
  padding-right: 40rem;
  color: #213276;
  font-weight: 300;
  font-size: 1.6rem;
  gap: 1.2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  font-weight: 300;
  text-decoration: none;
  color: #213276;
  transition: color 0.3s;
}

.nav-links:hover,
.nav-links:active {
  color: #213276;
}

.section-background {
  background-color: #ffffff;
  padding: 9.9rem 0 9.9rem 0;
}

.background {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 80rem 1fr;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
  color: #213276;
}

.background-des {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
}

.skills-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
}

.section-images {
  background-color: #fff;
  padding: 0rem 0 4.6rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  margin: 0 auto;
}

.my-images {
  /* width: 100%; */
  max-width: 130rem;
  margin: 0 auto;
  padding: 4.8rem 0;
  height: 40rem;
  display: flex;
  align-content: space-between;
  gap: 2.4rem;
}

/* .my-image {
  border-radius: 4.8rem;
  width: 100%;
  height: 45rem;
} */

.my-image img {
  border-radius: 4.8rem;
  width: 100%;
  height: 45rem;
}

/* .my-image {
  border-radius: 4.8rem;
  width: 65rem;
  height: 45rem;
  background-image: url(saloni-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.section-work-edu {
  background-color: #eceffd;
  padding: 0rem 0 9.9rem 0;
  margin-top: 4.8rem;
}

.work-edu {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  padding-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.6rem;
}

.flex-container {
  display: flex;
  gap: 4.6rem;
  align-content: space-around;
}

.title {
  font-size: 1.8rem;
  font-weight: 400 lighter;
  letter-spacing: 1.1px;
  color: #213276;
}

.we-title {
  font-size: 2rem;
  font-weight: 400 lighter;
  /* padding-bottom: 1rem; */
}

.exp-list,
.edu-list {
  list-style: none;
  line-height: 1.1;
}

.duration {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.5rem;
}

.we-details {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1rem 0rem;
  line-height: 1.5;
}
